#include <windows.h>
#include "./include/resources.h"

1	24	 "./resources/manifest.xml"

MENU_MAIN MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		POPUP "Difficulty"
		BEGIN
			MENUITEM "Easy (0~15)", IDM_EASY
			MENUITEM "Medium (0~30)", IDM_MEDIUM
			MENUITEM "Difficult (0~50)", IDM_DIFFICULT
		END
		MENUITEM SEPARATOR
		MENUITEM "&Retry", IDM_RETRY
		MENUITEM SEPARATOR
		MENUITEM "&About", IDM_ABOUT
		MENUITEM "&Quit", IDM_QUIT
	END
END

ACCEL_MAIN ACCELERATORS DISCARDABLE
BEGIN
	VK_F1, 	IDM_ABOUT, 	VIRTKEY
	"A",	IDM_ABOUT,	VIRTKEY, CONTROL
	"Q",	IDM_QUIT,	VIRTKEY, CONTROL
	"R",	IDM_RETRY,	VIRTKEY, CONTROL
END

RCDATA_HELP	RCDATA DISCARDABLE "./resources/help.txt"